Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

check-bash-syntax:
  name: Check Shell scripts syntax corectness
  language: system
  entry: bash -n

forbid-abstract-classes-and-traits:
  name: Ensure neither abstract classes nor traits are used
  language: pygrep
  entry: '^(abstract|trait) '

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

Jenkinsfile-linter:
  name: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
  language: system
  entry: sh -c '! curl --silent -X POST -F "jenkinsfile=<.ci/Jenkinsfile" http://0.0.0.0:18080/pipeline-model-converter/validate | grep -v -i successfully'
  verbose: true

Add Atom and IntellijIdea setups
  .gitignore
  README.md
Due: none

minor README.md file
  local/README.md
Due: none

feat: notify first time contributor github check (#98)
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/README.md
  vars/gitCheckout.groovy
  vars/gitCheckout.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

ci: refactor ITs maps to be centralised and being reused if required (#95)
  src/test/groovy/AgentMappingStepTests.groovy
  vars/README.md
  vars/agentMapping.groovy
  vars/agentMapping.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.13
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

fix: githubNotify when success should not happen when not notify is enabled
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

ci: Cache Oracle Instant Client Docker Image
  .ci/buildDockerImages.groovy
  .ci/schedule-daily.groovy
Due: force-JsonSlurperClassic

Cosmetic changes
  local/README.md
Due: none

fix: githubNotify when success should not happen when not notify is enabled (#101)
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.14
  pom.xml
Due: none

ci: Cache Oracle Instant Client Docker Image (#100)
  .ci/buildDockerImages.groovy
  .ci/schedule-daily.groovy
Due: force-JsonSlurperClassic

ci: execute custom commands
  resources/scripts/jenkins/build.sh
Due: check-bash-syntax

docs: CHANGELOG
  CHANGELOG.md
Due: none

fix: change cluster job names on the weekly job
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic

fix: change cluster job names on the weekly job (#102)
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic

feat: generate release notes and changelog from PRs
  .grenrc.js
  CHANGELOG.md
  README.md
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

ci: remove quiet period on cluster updates
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic

ci: disable SCM trigger for Observability test environments jobs
  .ci/jobs/observability-test-environments-mbp.yml
  .ci/jobs/observability-test-environments-update-mbp.yml
Due: none

ci: disable SCM trigger for Observability test environments jobs (#105)
  .ci/jobs/observability-test-environments-mbp.yml
  .ci/jobs/observability-test-environments-update-mbp.yml
Due: none

ci: remove quiet period on cluster updates (#104)
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic

fix: change .jenkins_python.yml file path
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic

fix: change .jenkins_python.yml file path (#106)
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic

feat: retry in case vault is not reachable
  src/test/groovy/GetVaultSecretStepTests.groovy
  vars/getVaultSecret.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

ci: ignore stage failures an continue
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic

fix: throw an error when GitHub API call fails
  src/test/groovy/GithubApiCallStepTests.groovy
  vars/githubApiCall.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: retry Docker login on failure 3 times
  vars/dockerLogin.groovy
Due: force-JsonSlurperClassic

feat: retry in case vault is not reachable (#107)
  src/test/groovy/GetVaultSecretStepTests.groovy
  vars/getVaultSecret.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

add required mocks for the UTs
  src/test/groovy/DockerLoginStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

docs: update README requirements
  README.md
Due: none

ci: ignore stage failures an continue (#108)
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic

feat: retry Docker login on failure 3 times (#111)
  src/test/groovy/DockerLoginStepTests.groovy
  vars/dockerLogin.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: throw an error when GitHub API call fails (#110)
  src/test/groovy/GithubApiCallStepTests.groovy
  vars/githubApiCall.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: step to know whether for a certain build its git changelist matches a list of regexps
  vars/gitChangeMatch.groovy
Due: force-JsonSlurperClassic

Add some comments regarding what's each section in the gdsl file
  src/pipeline.gdsl
Due: none

add UTs
  src/test/groovy/GitChangeMatchStepTests.groovy
  vars/gitChangeMatch.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Add docs
  vars/gitChangeMatch.txt
Due: none

rename
  src/test/groovy/IsGitRegionMatchStepTests.groovy
  vars/isGitRegionMatch.groovy
  vars/isGitRegionMatch.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Path conditions:
  check-bash-syntax: any of: \.sh$
  forbid-abstract-classes-and-traits: any of: ^src/.*\.groovy$
  force-JsonSlurperClassic: any of: \.groovy$
  Jenkinsfile-linter: any of: Jenkinsfile
