Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

check-bash-syntax:
  name: Check Shell scripts syntax corectness
  language: system
  entry: bash -n

forbid-abstract-classes-and-traits:
  name: Ensure neither abstract classes nor traits are used
  language: pygrep
  entry: '^(abstract|trait) '

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

Jenkinsfile-linter:
  name: Check syntax of the Jenkinsfiles
  description: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
  entry: .ci/scripts/validate.sh
  language: script
  verbose: true

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update .ci/.yamlint.yml
  .ci/.yamlint.yml
Due: none

Update src/test/groovy/GetBlueoceanTabURLStepTests.groovy
  src/test/groovy/GetBlueoceanTabURLStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

disable opbeans-dotnet build images generation (#134)
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

enable cobertura and gsc tabs with the traditional view (#135)
  src/test/groovy/GetBlueoceanTabURLStepTests.groovy
  vars/getBlueoceanTabURL.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

chore: testing the issueCommentTrigger
  .ci/Jenkinsfile
  vars/isCommentTrigger.groovy
  vars/isCommentTrigger.txt
Due: force-JsonSlurperClassic, Jenkinsfile-linter

renamed to GITHUB_COMMENT
  vars/isCommentTrigger.groovy
  vars/isCommentTrigger.txt
Due: force-JsonSlurperClassic

for testing purposes only
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

add tests
  src/test/groovy/IsCommentTriggerStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Apply suggestions from code review
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

update README.md
  vars/README.md
Due: none

fix: log rotate settings (#131)
  .ci/.yamlint.yml
  .ci/buildDockerImages.groovy
  .ci/dockerImagesESLatest.groovy
  .ci/dockerImagesOpbeans.groovy
  .ci/jobs/apm-docker-images-es-pipeline.yml
  .ci/jobs/apm-docker-images-opbeans-pipeline.yml
  .ci/jobs/apm-docker-images-pipeline.yml
  .ci/jobs/apm-nodejs-http-client-mbp.yml
  .ci/jobs/apm-pipeline-library-mbp.yml
  .ci/jobs/apm-schedule-daily.yml
  .ci/jobs/apm-schedule-weekly.yml
  .ci/jobs/apm-server-check-changelogs-mbp.yml
  .ci/jobs/apm-test-pipeline.yml
  .ci/jobs/apm-ui-pipeline-inline.yml
  .ci/jobs/defaults.yml
  .ci/jobs/jenkins-git-fetch-reference.yml
  .ci/jobs/observability-test-environments-mbp.yml
  .ci/jobs/observability-test-environments-update-mbp.yml
  .ci/schedule-daily.groovy
  .ci/schedule-weekly.groovy
  .pre-commit-config.yaml
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

feat: backport config
  .backportrc.json
Due: none

fix net.sf.json.JSONNull.trim()
  resources/groovy-html-custom.template
Due: none

enable issueCommentTrigger and expose GITHUB_COMMENT environment (#136)
  .ci/Jenkinsfile
  src/test/groovy/IsCommentTriggerStepTests.groovy
  vars/README.md
  vars/isCommentTrigger.groovy
  vars/isCommentTrigger.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

github comment trigger parser
  src/test/groovy/GetModulesFromCommentTriggerStepTests.groovy
  vars/README.md
  vars/getModulesFromCommentTrigger.groovy
  vars/getModulesFromCommentTrigger.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: backport config (#137)
  .backportrc.json
Due: none

fix net.sf.json.JSONNull.trim() (#138)
  resources/groovy-html-custom.template
Due: none

GitHub comment trigger parser step (#139)
  src/test/groovy/GetModulesFromCommentTriggerStepTests.groovy
  vars/README.md
  vars/getModulesFromCommentTrigger.groovy
  vars/getModulesFromCommentTrigger.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.18
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[maven-release-plugin] prepare release v1.1.19
  pom.xml
Due: none

fix: make gren docker image works
  .ci/docker/gren/Dockerfile
  .ci/scripts/gren
Due: none

fix: do not install recommended packages
  .ci/docker/gren/Dockerfile
Due: none

fix: yamlint arguments
  .pre-commit-config.yaml
Due: none

fix: use alias to avoid hit erased paths
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: execute .ci/scripts/push-integration-test-images.sh in the correct context
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: execute .ci/scripts/push-integration-test-images.sh in the correct context (#142)
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: use alias to avoid hit erased paths (#141)
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

Update .ci/scripts/gren
  .ci/scripts/gren
Due: none

fix: grab the real version name from artifactory before push
  resources/scripts/pushDockerImages.sh
Due: check-bash-syntax

fix: grab the real version name from artifactory before push (#143)
  resources/scripts/pushDockerImages.sh
Due: check-bash-syntax

fix: make gren docker image works (#140)
  .ci/docker/gren/Dockerfile
  .ci/scripts/gren
Due: none

fix: we have to use the raw output of jq
  resources/scripts/pushDockerImages.sh
Due: check-bash-syntax

fix: we have to use the raw output of jq (#144)
  resources/scripts/pushDockerImages.sh
Due: check-bash-syntax

fix: remove documentation stage and related steps
  resources/JenkinsfileTemplate.groovy
  resources/scripts/jenkins/build_docs.sh
  src/test/groovy/BuildDocsStepTests.groovy
  src/test/groovy/CheckoutElasticDocsToolsTests.groovy
  vars/README.md
  vars/buildDocs.groovy
  vars/buildDocs.txt
  vars/checkoutElasticDocsTools.groovy
  vars/checkoutElasticDocsTools.txt
Due: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: remove parameter
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic

fix: remove documentation stage and related steps (#145)
  resources/JenkinsfileTemplate.groovy
  resources/scripts/jenkins/build_docs.sh
  src/test/groovy/BuildDocsStepTests.groovy
  src/test/groovy/CheckoutElasticDocsToolsTests.groovy
  vars/README.md
  vars/buildDocs.groovy
  vars/buildDocs.txt
  vars/checkoutElasticDocsTools.groovy
  vars/checkoutElasticDocsTools.txt
Due: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: make the checkout of the repo
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

Path conditions:
  check-bash-syntax: any of: \.sh$
  forbid-abstract-classes-and-traits: any of: ^src/.*\.groovy$
  force-JsonSlurperClassic: any of: \.groovy$
  Jenkinsfile-linter: any of: ^.ci/(.*\.groovy|Jenkinsfile)$
