Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

check-bash-syntax:
  name: Check Shell scripts syntax corectness
  language: system
  entry: bash -n

forbid-abstract-classes-and-traits:
  name: Ensure neither abstract classes nor traits are used
  language: pygrep
  entry: '^(abstract|trait) '

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

Jenkinsfile-linter:
  name: Check syntax of the Jenkinsfiles
  description: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
  entry: .ci/scripts/validate.sh
  language: script
  verbose: true

fix: make the checkout of the repo (#146)
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: post step is in wrong place
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: post step is in the wrong place (#147)
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

ci: enable PoC for the metricbeats
  .ci/jobs/poc-beats-mbp.yml
  .ci/jobs/poc-metricbeat-tests-poc-mbp.yml
Due: none

tweak the dicscovers
  .ci/jobs/poc-beats-mbp.yml
Due: none

feat: remove submodules
  .ci/docker/Makefile
  .gitignore
  .gitmodules
Due: none

feat: Build Apm Server Docker images
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

feat: add the golang-mage to the packer images cache
  .ci/packer_cache.sh
Due: check-bash-syntax

fix: used trustworthy Docker images
  .ci/docker/Makefile
  .ci/docker/gren/Dockerfile
  .ci/docker/shellcheck/Dockerfile
  .ci/docker/tests/tests.bats
  .ci/docker/yamllint/Dockerfile
  .ci/packer_cache.sh
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: check-bash-syntax

fix: set CMD and ENTRYPOINT, user a no pivileged user, use workdir
  .ci/docker/Makefile
  .ci/docker/gren/Dockerfile
  .ci/docker/shellcheck/Dockerfile
  .ci/docker/yamllint/Dockerfile
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: none

feat: add docker images to the packer cache
  .ci/packer_cache.sh
Due: check-bash-syntax

feat: preCommitToJunit step
  vars/preCommitToJunit.groovy
  vars/preCommitToJunit.txt
Due: force-JsonSlurperClassic

fix: use a commit for BATS core also
  .ci/docker/Makefile
Due: none

feat: add docker images to the packer cache (#152)
  .ci/packer_cache.sh
Due: check-bash-syntax

Update .ci/docker/shellcheck/Dockerfile
  .ci/docker/shellcheck/Dockerfile
Due: none

Update Dockerfile
  .ci/docker/gren/Dockerfile
Due: none

Update Dockerfile
  .ci/docker/yamllint/Dockerfile
Due: none

Update packer_cache.sh
  .ci/packer_cache.sh
Due: check-bash-syntax

fix: used trustworthy Docker images (#151)
  .ci/docker/Makefile
  .ci/docker/gren/Dockerfile
  .ci/docker/shellcheck/Dockerfile
  .ci/docker/tests/tests.bats
  .ci/docker/yamllint/Dockerfile
  .ci/packer_cache.sh
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: check-bash-syntax

add UTs
  .pre-commit-config.yaml
  src/test/groovy/PreCommitToJunitStepTests.groovy
  src/test/resources/preCommitToJunit/output/pre-commit.xml
  src/test/resources/preCommitToJunit/output/simple.xml
  src/test/resources/preCommitToJunit/pre-commit.txt
  src/test/resources/preCommitToJunit/simple.txt
  vars/preCommitToJunit.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

update README
  vars/README.md
Due: none

feat: preCommitToJunit step (#153)
  .pre-commit-config.yaml
  src/test/groovy/PreCommitToJunitStepTests.groovy
  src/test/resources/preCommitToJunit/output/pre-commit.xml
  src/test/resources/preCommitToJunit/output/simple.xml
  src/test/resources/preCommitToJunit/pre-commit.txt
  src/test/resources/preCommitToJunit/simple.txt
  vars/README.md
  vars/preCommitToJunit.groovy
  vars/preCommitToJunit.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.20
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

ci: enable junit reporting for the pre-commit stage
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

for debugging purposes
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

for debugging purposes
  .ci/Jenkinsfile
  vars/preCommitToJunit.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

another use case
  src/test/groovy/PreCommitToJunitStepTests.groovy
  src/test/resources/preCommitToJunit/output/simple.xml
  src/test/resources/preCommitToJunit/output/skipped.xml
  src/test/resources/preCommitToJunit/simple.txt
  src/test/resources/preCommitToJunit/skipped.txt
  vars/preCommitToJunit.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

remove as no more testing
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

for testing purposes
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

Revert "for testing purposes"
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

feat: rename GitHub check as discussed
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

enable junit reporting for the pre-commit stage (#154)
  .ci/Jenkinsfile
  src/test/groovy/PreCommitToJunitStepTests.groovy
  src/test/resources/preCommitToJunit/output/simple.xml
  src/test/resources/preCommitToJunit/output/skipped.xml
  src/test/resources/preCommitToJunit/simple.txt
  src/test/resources/preCommitToJunit/skipped.txt
  vars/preCommitToJunit.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

[maven-release-plugin] prepare release v1.1.21
  pom.xml
Due: none

fix null pointer exceptions when calling the method from another step
  src/test/groovy/GitCmdStepTests.groovy
  vars/gitCmd.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

git push too
  src/test/groovy/GitPushStepTests.groovy
  vars/gitPush.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

add support for the rest of the commands
  src/test/groovy/GitCreateTagStepTests.groovy
  src/test/groovy/GitDeleteTagStepTests.groovy
  vars/gitCreateTag.groovy
  vars/gitDeleteTag.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix null pointer exceptions when calling the method from another step (#156)
  src/test/groovy/GitCmdStepTests.groovy
  src/test/groovy/GitCreateTagStepTests.groovy
  src/test/groovy/GitDeleteTagStepTests.groovy
  src/test/groovy/GitPushStepTests.groovy
  vars/gitCmd.groovy
  vars/gitCreateTag.groovy
  vars/gitDeleteTag.groovy
  vars/gitPush.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: rename GitHub check as discussed (#155)
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Path conditions:
  check-bash-syntax: any of: \.sh$
  forbid-abstract-classes-and-traits: any of: ^src/.*\.groovy$
  force-JsonSlurperClassic: any of: \.groovy$
  Jenkinsfile-linter: any of: ^.ci/(.*\.groovy|Jenkinsfile)$
