Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

check-bash-syntax:
  name: Check Shell scripts syntax corectness
  language: system
  entry: bash -n

forbid-abstract-classes-and-traits:
  name: Ensure neither abstract classes nor traits are used
  language: pygrep
  entry: '^(abstract|trait) '

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

Jenkinsfile-linter:
  name: Check syntax of the Jenkinsfiles
  description: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
  entry: .ci/scripts/validate.sh
  language: script
  verbose: true

use long flag names
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

script to transform to JJB and validate it (TODO: too verbose output)
  .ci/scripts/validate-jjbb.sh
Due: check-bash-syntax

Trap error and report output
  .ci/scripts/validate-jjbb.sh
Due: check-bash-syntax

cleanup
  .ci/scripts/validate-jjbb.sh
Due: check-bash-syntax

fix: force git push (#164)
  .ci/Jenkinsfile
  src/test/groovy/GitCreateTagStepTests.groovy
  vars/README.md
  vars/gitCreateTag.groovy
  vars/gitCreateTag.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

feat: prepareAndRun for the benchmark
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/README.md
  vars/sendBenchmarks.groovy
  vars/sendBenchmarks.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

ci: enable PoC for the metricbeats (#148)
  .ci/jobs/poc-beats-mbp.yml
  .ci/jobs/poc-metricbeat-tests-poc-mbp.yml
Due: none

chore: add vault and jq to commnad checks
  resources/scripts/jenkins/build.sh
Due: check-bash-syntax

fix: evaluate when before the agent
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic

feat: pre-commit hooks library
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
Due: none

prepareAndRun step for the benchmark (#167)
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/README.md
  vars/sendBenchmarks.groovy
  vars/sendBenchmarks.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

enable jjbb validation within the pre-commit (#163)
  .ci/scripts/validate-jjbb.sh
  .pre-commit-config.yaml
Due: check-bash-syntax

[maven-release-plugin] prepare release v1.1.28
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: retry build Dcoker image step on failure
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix wrong protocol
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/sendBenchmarks.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix wrong protocol (#169)
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/sendBenchmarks.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: support cloneOptions by default
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: support cloneOptions by default (#170)
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

as stated in the review let's use the https and for testing purposes let's use this particular fork/branch in the PR
  .pre-commit-config.yaml
Due: none

Rename hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

Rename hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
Due: none

update
  README.md
Due: none

pre-commit more test coverage
  src/test/groovy/PreCommitToJunitStepTests.groovy
  src/test/resources/preCommitToJunit/gherkin.txt
  src/test/resources/preCommitToJunit/output/gherkin.xml
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Let's enable the sshagent to clone the repo using the git+ssh as it's a private github repo
  .ci/Jenkinsfile
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
Due: Jenkinsfile-linter

Let's use the .yaml config file
  .ci/scripts/yamllint
Due: none

exclude the pre-commit files from the linting
  .pre-commit-config.yaml
Due: none

pre-commit more test coverage (#171)
  src/test/groovy/PreCommitToJunitStepTests.groovy
  src/test/resources/preCommitToJunit/gherkin.txt
  src/test/resources/preCommitToJunit/output/gherkin.xml
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.29
  pom.xml
Due: none

feat: CodeCov Docker container as tool
  .ci/docker/Makefile
  .ci/docker/codecov/Dockerfile
  .ci/scripts/codecov
Due: none

fix: support traditional views as BO returns 404 with crumb
  src/test/groovy/GetTraditionalPageURLStepTests.groovy
  src/test/groovy/WithGithubNotifyStepTests.groovy
  vars/getTraditionalPagURL.txt
  vars/getTraditionalPageURL.groovy
  vars/withGithubNotify.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

cosmetic changes in the docs
  vars/README.md
  vars/getTraditionalPageURL.txt
Due: none

support traditional views since BO returns 404 with crumb (#173)
  src/test/groovy/GetTraditionalPageURLStepTests.groovy
  src/test/groovy/WithGithubNotifyStepTests.groovy
  vars/README.md
  vars/getTraditionalPageURL.groovy
  vars/getTraditionalPageURL.txt
  vars/withGithubNotify.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.30
  pom.xml
Due: none

fix: trim for trailing spaces when comparing the company since the GH api provides some extra spaces now :(
  src/test/groovy/IsCommentTriggerStepTests.groovy
  vars/isCommentTrigger.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Path conditions:
  check-bash-syntax: any of: \.sh$
  forbid-abstract-classes-and-traits: any of: ^src/.*\.groovy$
  force-JsonSlurperClassic: any of: \.groovy$
  Jenkinsfile-linter: any of: ^.ci/(.*\.groovy|Jenkinsfile)$
