Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

check-bash-syntax:
  name: Check Shell scripts syntax corectness
  language: system
  entry: bash -n

forbid-abstract-classes-and-traits:
  name: Ensure neither abstract classes nor traits are used
  language: pygrep
  entry: '^(abstract|trait) '

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

Jenkinsfile-linter:
  name: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
  language: system
  entry: sh -c '! curl --silent -X POST -F "jenkinsfile=<.ci/Jenkinsfile" http://0.0.0.0:18080/pipeline-model-converter/validate | grep -v -i successfully'
  verbose: true

Generate docs
  vars/README.md
Due: none

change message, this is a leftover from the renaming commit
  vars/isGitRegionMatch.groovy
Due: force-JsonSlurperClassic

feat: generate release notes and changelog from PRs (#103)
  .grenrc.js
  CHANGELOG.md
  README.md
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

feat: setup local development (#97)
  .gitignore
  .pre-commit-config.yaml
  README.md
  local/Dockerfile
  local/README.md
  local/configs/jenkins.yaml
  local/configs/plugins.txt
  local/docker-compose.yml
  src/pipeline.gdsl
Due: none

feat: git changelist matches a list of regexps for a given build (#112)
  src/test/groovy/IsGitRegionMatchStepTests.groovy
  vars/README.md
  vars/isGitRegionMatch.groovy
  vars/isGitRegionMatch.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.15
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

feat: enforce the user and update CHANGELOG.md with latest release
  CHANGELOG.md
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

feat: enforce the user and update CHANGELOG.md with latest release (#114)
  CHANGELOG.md
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

simplify POM (#90)
  pom.xml
Due: none

feat: download 7.3.0 Elastic Stack Docker images
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic

fix: notify gh check when it's triggered as a cron type
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: support pipelines which are stored in the .ci folder
  .ci/validate.sh
  .pre-commit-config.yaml
Due: check-bash-syntax

change description
  .pre-commit-config.yaml
Due: none

enable pre-commit as part of the CI - https://pre-commit.com/#usage-in-continuous-integration
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

Add require env variable
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

support JENKINS_HOME to use another instance to validate the jenkins files
  .ci/validate.sh
Due: check-bash-syntax

for testing purposes
  .ci/dockerImagesESLatest.groovy
Due: force-JsonSlurperClassic

support crumb
  .ci/validate.sh
Due: check-bash-syntax

more verbose
  .ci/Jenkinsfile
  .ci/validate.sh
Due: check-bash-syntax, Jenkinsfile-linter

feat: add more precommit hooks
  .pre-commit-config.yaml
Due: none

feat: fix ident and rev
  .pre-commit-config.yaml
Due: none

Remove unicode non-breaking space character U+00A0 aka M-BM-
  .pre-commit-config.yaml
  README.md
Due: none

Add new hooks
  README.md
Due: none

feat: download 7.3.0 Elastic Stack Docker images (#116)
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic

as suggested in the linter docs
  .ci/validate.sh
Due: check-bash-syntax

use the git-base-commit which refers to the PR commit
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

remove debug output
  .ci/validate.sh
Due: check-bash-syntax

rollback
  .ci/dockerImagesESLatest.groovy
Due: force-JsonSlurperClassic

pre-commit: lint pipelines which are stored in the .ci folder and add pre-commit stage in the CI (#118)
  .ci/Jenkinsfile
  .ci/validate.sh
  .pre-commit-config.yaml
Due: check-bash-syntax, Jenkinsfile-linter

fix: notify gh check when it's triggered as a cron type (#117)
  src/test/groovy/GitCheckoutStepTests.groovy
  vars/gitCheckout.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: add more pre-commit hooks (#119)
  .pre-commit-config.yaml
  README.md
Due: none

[maven-release-plugin] prepare release v1.1.16
  pom.xml
Due: none

Path conditions:
  check-bash-syntax: any of: \.sh$
  forbid-abstract-classes-and-traits: any of: ^src/.*\.groovy$
  force-JsonSlurperClassic: any of: \.groovy$
  Jenkinsfile-linter: any of: Jenkinsfile
