Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v2.2.3
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: check-xml

-   repo: local
    hooks:
    -   id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: system
        entry: bash -n
        files: \.sh$
    -   id: forbid-abstract-classes-and-traits
        name: Ensure neither abstract classes nor traits are used
        language: pygrep
        entry: "^(abstract|trait) "
        files: ^src/.*\.groovy$
    -   id: force-JsonSlurperClassic
        name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
        language: pygrep
        entry: JsonSlurper[^C]
        files: \.groovy$
    -   id: Jenkinsfile-linter
        name: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
        files: ^.ci/(.*\.groovy|Jenkinsfile)$
        entry: .ci/validate.sh
        language: script
        verbose: true

Update CHANGELOG.md for the new release
  CHANGELOG.md
Due: none

fix the deploy as it was done previously
  pom.xml
Due: none

pluginManagement is not required though
  pom.xml
Due: none

chore: temporary pipeline for testing purposes
  .ci/jobs/apm-nodejs-http-client-mbp.yml
Due: none

temporary pipeline for testing purposes (#121)
  .ci/jobs/apm-nodejs-http-client-mbp.yml
Due: none

chore: identation seems to be required after applying the yamllint
  .ci/jobs/apm-nodejs-http-client-mbp.yml
Due: none

chore: temporary pipeline https://github.com/elastic/apm-server/pull/2392
  .ci/jobs/apm-server-check-changelogs-mbp.yml
Due: none

7d is not available but 1w instead
  .ci/jobs/apm-server-check-changelogs-mbp.yml
Due: none

fix the deploy as it was done previously (#120)
  pom.xml
Due: none

Update readme with new? cli tool to run Jenkinsfiles locally
  README.md
Due: none

Update readme with cli tool to run Jenkinsfiles locally (#122)
  README.md
Due: none

chore: see what env variables are created
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

fix: run test with JDK 11
  pom.xml
  src/test/groovy/DummyStepTests.groovy
  src/test/groovy/GetBuildInfoJsonFilesStepTests.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/groovy/SendDataToElasticsearchStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: undefinned method on test
  src/test/groovy/NotificationManagerStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: run tests with JDK 11 (#125)
  pom.xml
  src/test/groovy/DummyStepTests.groovy
  src/test/groovy/GetBuildInfoJsonFilesStepTests.groovy
  src/test/groovy/NotificationManagerStepTests.groovy
  src/test/groovy/SendDataToElasticsearchStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: avoid show 'null' on the email
  resources/groovy-html-custom.template
  src/test/resources/steps-errors.json
Due: none

fix: avoid show 'null' on the email (#126)
  resources/groovy-html-custom.template
  src/test/resources/steps-errors.json
Due: none

disable opbeans-flask as stated in https://github.com/elastic/opbeans-flask/pull/5
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

Revert "disable opbeans-flask as stated in https://github.com/elastic/opbeans-flask/pull/5"
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

skipped while it's not implemented
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

more minimalistic
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

disable opbeans-flask (#127)
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: update clusters job names
  .ci/schedule-weekly.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: shellcheck installation
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

for testing purposes
  .ci/validate.sh
Due: check-bash-syntax

use another location
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

validate whether the JENKINS_URL is reachable
  .ci/validate.sh
Due: check-bash-syntax

Lets use the bin folder within the workspace
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

docker based
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

add more semantic to the comment
  .ci/validate.sh
Due: check-bash-syntax

dummy tchange in the yaml
  local/configs/jenkins.yaml
Due: none

change flag order
  .ci/validate.sh
Due: check-bash-syntax

move pipeline logic to some scripts
  .ci/Jenkinsfile
  .ci/scripts/shellcheck
  .ci/scripts/validate.sh
  .ci/scripts/yamllint
  .pre-commit-config.yaml
Due: check-bash-syntax, Jenkinsfile-linter

Revert "dummy tchange in the yaml"
  local/configs/jenkins.yaml
Due: none

fix: shellcheck and yamllint installations for the pre-commit stage (#128)
  .ci/Jenkinsfile
  .ci/scripts/shellcheck
  .ci/scripts/validate.sh
  .ci/scripts/yamllint
  .pre-commit-config.yaml
Due: check-bash-syntax, Jenkinsfile-linter

feat: build, test, and push integration testing Docker images
  .ci/buildDockerImages.groovy
  .ci/scripts/push-integration-test-images.sh
Due: check-bash-syntax, force-JsonSlurperClassic, Jenkinsfile-linter

feat: add description to the notification email
  resources/groovy-html-custom.template
Due: none

fix: log rotate settings
  .ci/buildDockerImages.groovy
  .ci/dockerImagesESLatest.groovy
  .ci/dockerImagesOpbeans.groovy
  .ci/jobs/apm-nodejs-http-client-mbp.yml
  .ci/jobs/apm-pipeline-library-mbp.yml
  .ci/jobs/apm-server-check-changelogs-mbp.yml
  .ci/jobs/defaults.yml
  .ci/jobs/observability-test-environments-mbp.yml
  .ci/jobs/observability-test-environments-update-mbp.yml
  .ci/schedule-daily.groovy
  .ci/schedule-weekly.groovy
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

fix: format YAML files
  .ci/jobs/apm-docker-images-es-pipeline.yml
  .ci/jobs/apm-docker-images-opbeans-pipeline.yml
  .ci/jobs/apm-docker-images-pipeline.yml
  .ci/jobs/apm-pipeline-library-mbp.yml
  .ci/jobs/apm-schedule-daily.yml
  .ci/jobs/apm-schedule-weekly.yml
  .ci/jobs/apm-test-pipeline.yml
  .ci/jobs/apm-ui-pipeline-inline.yml
  .ci/jobs/defaults.yml
  .ci/jobs/jenkins-git-fetch-reference.yml
  .ci/jobs/observability-test-environments-mbp.yml
  .ci/jobs/observability-test-environments-update-mbp.yml
Due: none
