Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: check-xml
    -   id: end-of-file-fixer

-   repo: https://github.com/detailyang/pre-commit-shell.git
    rev: master
    hooks:
    -   id: shell-lint
        name: "Shellscript: lint"
        stages: [commit]
        types: [shell]
        exclude: ^mvnw$

-   repo: https://github.com/adrienverge/yamllint.git
    rev: master
    hooks:
    -   id: yamllint
        name: "Yaml: lint"
        args: ['-f .ci/.yamlint.conf']
        stages: [commit]
        types: [yaml]
        exclude: ^.pre-commit-config.yaml$

-   repo: local
    hooks:
    -   id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: system
        entry: bash -n
        files: \.sh$
    -   id: forbid-abstract-classes-and-traits
        name: Ensure neither abstract classes nor traits are used
        language: pygrep
        entry: "^(abstract|trait) "
        files: ^src/.*\.groovy$
    -   id: force-JsonSlurperClassic
        name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
        language: pygrep
        entry: JsonSlurper[^C]
        files: \.groovy$
    -   id: Jenkinsfile-linter
        name: Check syntax of the Jenkinsfiles
        description: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
        files: ^.ci/(.*\.groovy|Jenkinsfile)$
        entry: .ci/scripts/validate.sh
        language: script
        verbose: true
    -   id: forbid-unicode-non-breaking-spaces
        name: Detect unicode non-breaking space character U+00A0 aka M-BM-
        language: system
        entry: perl -ne 'print if $m = /\xc2\xa0/; $t ||= $m; END{{exit $t}}'
    -   id: remove-unicode-non-breaking-spaces
        name: Remove unicode non-breaking space character U+00A0 aka M-BM-
        language: system
        entry: perl -pi* -e 's/\xc2\xa0/ /g && ($t = 1) && print STDERR $_; END{{exit
            $t}}'
    -   id: forbid-en-dashes
        name: Detect the EXTREMELY confusing unicode character U+2013
        language: system
        entry: perl -ne 'print if $m = /\xe2\x80\x93/; $t ||= $m; END{{exit $t}}'
    -   id: remove-en-dashes
        name: Remove the EXTREMELY confusing unicode character U+2013
        language: system
        entry: perl -pi* -e 's/\xe2\x80\x93/-/g && ($t = 1) && print STDERR $_; END{{exit
            $t}}'

[maven-release-plugin] prepare release v1.1.22
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

fix: extra char in the arguments
  vars/gitPush.groovy
Due: force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.23
  pom.xml
Due: none

[maven-release-plugin] prepare release v1.1.24
  pom.xml
Due: none

fix: use cmd param in the gitCmd step
  src/test/groovy/GitCmdStepTests.groovy
  vars/gitCmd.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: use cmd param in the gitCmd step (#157)
  src/test/groovy/GitCmdStepTests.groovy
  vars/gitCmd.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.25
  pom.xml
Due: none

[maven-release-plugin] prepare release v1.1.26
  pom.xml
Due: none

feat: enable precommit step
  src/test/groovy/PreCommitStepTests.groovy
  vars/preCommit.groovy
  vars/preCommit.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: create and delete tag steps
  vars/gitCreateTag.groovy
  vars/gitDeleteTag.groovy
Due: force-JsonSlurperClassic

Update JenkinsfileTemplate.groovy
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic

chore: rename test methods
  src/test/groovy/PreCommitToJunitStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

UTs
  src/test/groovy/PreCommitStepTests.groovy
  vars/preCommit.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Update Docs
  vars/README.md
  vars/preCommit.txt
Due: none

remove unnecessary import
  src/test/groovy/PreCommitStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

Update UTs
  src/test/groovy/GitCreateTagStepTests.groovy
  src/test/groovy/GitDeleteTagStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

feat: windows is not supported
  src/test/groovy/CheckLicensesStepTests.groovy
  src/test/groovy/CodecovStepTests.groovy
  src/test/groovy/DockerLoginStepTests.groovy
  src/test/groovy/GetBuildInfoJsonFilesStepTests.groovy
  src/test/groovy/GetGitRepoURLStepTests.groovy
  src/test/groovy/GitChangelogStepTests.groovy
  src/test/groovy/GitCmdStepTests.groovy
  src/test/groovy/GithubEnvStepTests.groovy
  src/test/groovy/IsGitRegionMatchStepTests.groovy
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/checkGitChanges.groovy
  vars/checkLicenses.groovy
  vars/codecov.groovy
  vars/dockerLogin.groovy
  vars/getBuildInfoJsonFiles.groovy
  vars/getGitCommitSha.groovy
  vars/getGitRepoURL.groovy
  vars/gitChangelog.groovy
  vars/gitCmd.groovy
  vars/githubEnv.groovy
  vars/isGitRegionMatch.groovy
  vars/sendBenchmarks.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

chore: rename test methods (#161)
  src/test/groovy/PreCommitToJunitStepTests.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: create and delete tag steps (#160)
  src/test/groovy/GitCreateTagStepTests.groovy
  src/test/groovy/GitDeleteTagStepTests.groovy
  vars/gitCreateTag.groovy
  vars/gitDeleteTag.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

let's monitor only https://github.com/elastic/beats/pull/13073/
  .ci/jobs/poc-beats-mbp.yml
  .ci/jobs/poc-metricbeat-tests-poc-mbp.yml
Due: none

feat: enable jjbb validation within the pre-commit
  .ci/scripts/validate-jjbb.sh
  .pre-commit-config.yaml
Due: check-bash-syntax

feat: enable precommit step (#158)
  src/test/groovy/PreCommitStepTests.groovy
  vars/README.md
  vars/preCommit.groovy
  vars/preCommit.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

windows is not supported in some steps (#162)
  src/test/groovy/CheckLicensesStepTests.groovy
  src/test/groovy/CodecovStepTests.groovy
  src/test/groovy/DockerLoginStepTests.groovy
  src/test/groovy/GetBuildInfoJsonFilesStepTests.groovy
  src/test/groovy/GetGitRepoURLStepTests.groovy
  src/test/groovy/GitChangelogStepTests.groovy
  src/test/groovy/GitCmdStepTests.groovy
  src/test/groovy/GithubEnvStepTests.groovy
  src/test/groovy/IsGitRegionMatchStepTests.groovy
  src/test/groovy/SendBenchmarksStepTests.groovy
  vars/checkGitChanges.groovy
  vars/checkLicenses.groovy
  vars/codecov.groovy
  vars/dockerLogin.groovy
  vars/getBuildInfoJsonFiles.groovy
  vars/getGitCommitSha.groovy
  vars/getGitRepoURL.groovy
  vars/gitChangelog.groovy
  vars/gitCmd.groovy
  vars/githubEnv.groovy
  vars/isGitRegionMatch.groovy
  vars/sendBenchmarks.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.27
  pom.xml
Due: none

fix: force git push
  .ci/Jenkinsfile
  src/test/groovy/GitCreateTagStepTests.groovy
  vars/README.md
  vars/gitCreateTag.groovy
  vars/gitCreateTag.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

fix: force to create tag
  .ci/Jenkinsfile
  src/test/groovy/GitCreateTagStepTests.groovy
  vars/README.md
  vars/gitCreateTag.groovy
  vars/gitCreateTag.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

chore: check immutable nodes
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic

feat: remove submodules (#149)
  .ci/docker/Makefile
  .gitignore
  .gitmodules
Due: none

test: check immutable workers
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic

fix: disable docker immutable check
  resources/JenkinsfileTemplate.groovy
Due: force-JsonSlurperClassic

feat: use preCommit step
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

feat: use preCommit step (#166)
  .ci/Jenkinsfile
Due: Jenkinsfile-linter
