Repository elastic/apm-pipeline-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v2.2.3
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: check-xml

-   repo: local
    hooks:
    -   id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: system
        entry: bash -n
        files: \.sh$
    -   id: forbid-abstract-classes-and-traits
        name: Ensure neither abstract classes nor traits are used
        language: pygrep
        entry: "^(abstract|trait) "
        files: ^src/.*\.groovy$
    -   id: force-JsonSlurperClassic
        name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
        language: pygrep
        entry: JsonSlurper[^C]
        files: \.groovy$
    -   id: Jenkinsfile-linter
        name: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
        files: ^.ci/(.*\.groovy|Jenkinsfile)$
        entry: .ci/validate.sh
        language: script
        verbose: true

fix: format YAML files
  .ci/jobs/apm-docker-images-es-pipeline.yml
  .ci/jobs/apm-docker-images-opbeans-pipeline.yml
  .ci/jobs/apm-docker-images-pipeline.yml
  .ci/jobs/apm-schedule-daily.yml
  .ci/jobs/apm-schedule-weekly.yml
  .ci/jobs/apm-test-pipeline.yml
  .ci/jobs/jenkins-git-fetch-reference.yml
  .ci/jobs/observability-test-environments-update-mbp.yml
Due: none

feat: configure yamllint
  .pre-commit-config.yaml
Due: none

Update resources/groovy-html-custom.template
  resources/groovy-html-custom.template
Due: none

feat: add description to the notification email (#130)
  resources/groovy-html-custom.template
Due: none

Update .ci/buildDockerImages.groovy
  .ci/buildDockerImages.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

chore: use ENV vars
  .ci/scripts/push-integration-test-images.sh
Due: check-bash-syntax

feat: build, test, and push integration testing Docker images (#129)
  .ci/buildDockerImages.groovy
  .ci/scripts/push-integration-test-images.sh
Due: check-bash-syntax, force-JsonSlurperClassic, Jenkinsfile-linter

feat: git commands steps
  src/test/groovy/GitCmdStepTests.groovy
  src/test/groovy/GitDeleteTagStepTests.groovy
  src/test/groovy/GitPushStepTests.groovy
  vars/README.md
  vars/codecov.txt
  vars/gitCmd.groovy
  vars/gitCmd.txt
  vars/gitCreateTag.groovy
  vars/gitCreateTag.txt
  vars/gitDeleteTag.txt
  vars/gitPush.groovy
  vars/gitPush.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

fix: missing .yamlint.conf
  .ci/.yamlint.yml
  .pre-commit-config.yaml
Due: none

Update README.md
  vars/README.md
Due: none

exclude target folder
  .pre-commit-config.yaml
Due: none

exclude target folder from the pre-commit analysis (#133)
  .pre-commit-config.yaml
Due: none

feat: git commands steps (#132)
  src/test/groovy/GitCmdStepTests.groovy
  src/test/groovy/GitDeleteTagStepTests.groovy
  src/test/groovy/GitPushStepTests.groovy
  vars/README.md
  vars/codecov.txt
  vars/gitCmd.groovy
  vars/gitCmd.txt
  vars/gitCreateTag.groovy
  vars/gitCreateTag.txt
  vars/gitDeleteTag.txt
  vars/gitPush.groovy
  vars/gitPush.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

[maven-release-plugin] prepare release v1.1.17
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

docs: update Changelog
  CHANGELOG.md
Due: none

docs: update Changelog
  .grenrc.js
  CHANGELOG.md
Due: none

feat: generate release notes and changelog from PRs
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

feat: release from CI
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

chore: merge master
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

fix: skip test on release
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

fix: test verbosity
  .ci/Jenkinsfile
  pom.xml
Due: Jenkinsfile-linter

fix: checkout branch
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

fix: use base dir
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

fix: pass parameter to maven release
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

test: change repo to test
  pom.xml
Due: none

fix: set TOKEN
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

fix: set TOKEN
  resources/scripts/jenkins/release-notes.sh
Due: check-bash-syntax

fix: HOME env var
  .ci/Jenkinsfile
Due: Jenkinsfile-linter

feat: git commands steps
  .ci/Jenkinsfile
  src/test/resources/build-report.json
Due: Jenkinsfile-linter

chore: add bats files to git ignore
  .gitignore
Due: none

fix: revert test changes
  .ci/Jenkinsfile
  pom.xml
Due: Jenkinsfile-linter

feat: gren Docker images build, test, and push
  .ci/Jenkinsfile
  .ci/docker/Makefile
  .ci/docker/gren/Dockerfile
  .ci/docker/tests/test_helpers.bash
  .ci/docker/tests/tests.bats
  .ci/packer_cache.sh
  .ci/scripts/gren
  .gitmodules
  resources/scripts/jenkins/release-perform.sh
Due: check-bash-syntax, Jenkinsfile-linter

docs: add badges
  README.md
Due: none

disable opbeans-dotnet build images generation
  .ci/dockerImagesOpbeans.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter

enable cobertura and gsc tabs with the traditional view
  src/test/groovy/GetBlueoceanTabURLStepTests.groovy
  vars/getBlueoceanTabURL.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic

ci: release process (#123)
  .ci/Jenkinsfile
  .ci/docker/Makefile
  .ci/docker/gren/Dockerfile
  .ci/docker/tests/test_helpers.bash
  .ci/docker/tests/tests.bats
  .ci/packer_cache.sh
  .ci/scripts/gren
  .gitignore
  .gitmodules
  README.md
  pom.xml
  resources/scripts/jenkins/release-notes.sh
  resources/scripts/jenkins/release-perform.sh
  src/test/resources/build-report.json
Due: check-bash-syntax, Jenkinsfile-linter
